#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/bme680-sensor PREFIX=/usr install

override_dh_auto_clean:
	$(MAKE) clean
	rm -rf debian/bme680-sensor debian/.debhelper
